processors/__pycache__/
resources/old/
resources/old/
resources/studentaid/.DS_Store resources/studentaid/handbook/.DS_Store
resources/studentaid/.DS_Store resources/studentaid/handbook/.DS_Store
resources/studentaid/.DS_Store
resources/studentaid/handbook/.DS_Store
.env
